#pie-chart{
    font-size: large;
    margin-top: 1rem;
}

.clientData {
    text-align: center;
}

.portrait
{
    margin-left: auto;
    margin-right: auto;
    position:relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%
}
.photo
{
    width:100%;
    height: auto;
}
.row {
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
    padding-top: 50px;
}