/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(255, 128, 105);
  }
  
  /* selected link */
  a:active {
    color: black;
  }